<form>
  <div class="grid-container">
    {{#if roleSpecific}}
    <div class="th">

    </div>
    <div class="th">
    {{localize npcGen.default}}
    </div>
    <div class="th-container">
      {{#each classes}}
        <div class="th">{{this}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#each races}}
      {{#each ../genders}}
        <div class="label">
          <label for="{{concat ../this this}}">
            {{concat this " " ../this}}
          </label>
        </div>
        <div class="input npcGenInput">
          {{filePicker target=(concat ../this this) type="imagevideo"}}
          <input
            type="text"
            class="npcGenTextInput"
            id="{{concat ../this this}}"
            name="{{concat ../this this}}"
            value="{{getProperty @root.settings (concat ../this this)}}"
            placeholder="&nbsp;"
          />
          <input
            type="text"
            class="npcGenRegexInput"
            id="{{concat ../this this 'Regex'}}"
            name="{{concat ../this this 'Regex'}}"
            value="{{getProperty @root.settings (concat ../this this 'Regex')}}"
            placeholder="/.*/"
          />
        </div>
        <div class="classSpecific">
          {{#if @root.roleSpecific}}
            {{#each @root.classes}}
              <div class="input npcGenInput">
                {{filePicker target=(concat ../../this ../this this) type="imagevideo"}}
                <input
                  type="text"
                  class="npcGenTextInput"
                  id="{{concat ../../this ../this this}}"
                  name="{{concat ../../this ../this this}}"
                  value="{{getProperty @root.settings (concat ../../this ../this this)}}"
                  placeholder="&nbsp;"
                />
                <input
                  type="text"
                  class="npcGenRegexInput"
                  id="{{concat ../../this ../this this 'Regex'}}"
                  name="{{concat ../../this ../this this 'Regex'}}"
                  value="{{getProperty @root.settings (concat ../../this ../this this 'Regex')}}"
                  placeholder="/.*/"
                />
              </div>
            {{/each}}
          {{/if}}
        </div>
      {{/each}}
    {{/each}}
  </div>
  <div class="button-container">
    <button type="submit">{{localize "npcGen.save"}}</button>
    <button id="cancelButton" type="button">{{localize "npcGen.cancel"}}</button>
  </div>
</form>
