<form class="json-code-editor" id="json-editor" autocomplete="off" onsubmit="event.preventDefault()">

    <!-- tab buttons -->
    <div class="buttonDiv">
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="classesJSON">{{localize "npcGen.classes"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="languagesJSON">{{localize "npcGen.language"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="namesJSON">{{localize "npcGen.names"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="traitsJSON">{{localize "npcGen.traits"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="plothooksJSON">{{localize "npcGen.plotHook"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="professionJSON">{{localize "npcGen.professions"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="racesJSON">{{localize "npcGen.races"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="sexJSON">{{localize "npcGen.relationship"}}</button>
        </div>
    </div>


    <!-- code editor window -->
    <div class="json-code-editor-border">

        <div class="editor" id="classesJSON"></div>
        <div class="editor" id="languagesJSON"></div>
        <div class="editor" id="namesJSON"></div>
        <div class="editor" id="traitsJSON"></div>
        <div class="editor" id="plothooksJSON"></div>
        <div class="editor" id="professionJSON"></div>
        <div class="editor" id="racesJSON"></div>
        <div class="editor" id="sexJSON"></div>

    </div>

    <div class="bottomButtonDiv">
        <button type="button" class="save-json-button">Save</button>
        <button type="button" class="reset-current-json">Reset</button>
    </div>

</form>
