<form class="json-code-editor" id="json-editor" autocomplete="off" onsubmit="event.preventDefault()">

    <!-- tab buttons -->
    <div class="buttonDiv">
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="classesJSON">{{localize "npcGen.classes"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="languagesJSON">{{localize "npcGen.language"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="namesJSON">{{localize "npcGen.names"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="traitsJSON">{{localize "npcGen.traits"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="plothooksJSON">{{localize "npcGen.plotHook"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="professionJSON">{{localize "npcGen.professions"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="racesJSON">{{localize "npcGen.races"}}</button>
        </div>
        <div class="buttonSeperator">
            <button type="button" class="header-button" name="sexJSON">{{localize "npcGen.relationship"}}</button>
        </div>
    </div>


    <!-- code editor window -->
    <div class="json-code-editor-border">

        <div class="editor" id="classesJSON"></div>
        <div class="editor" id="languagesJSON"></div>
        <div class="editor" id="namesJSON"></div>
        <div class="editor" id="traitsJSON"></div>
        <div class="editor" id="plothooksJSON"></div>
        <div class="editor" id="professionJSON"></div>
        <div class="editor" id="racesJSON"></div>
        <div class="editor" id="sexJSON"></div>

    </div>

    <div class="bottomButtonDiv">
        <button type="button" class="save-json-button">{{localize "npcGen.save"}}</button>

        <button type="button" class="toggle-button" id="classesJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyClassesJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="languagesJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyLanguagesJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="namesJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyNamesJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="traitsJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyTraitsJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="plothooksJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyPlothooksJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="professionJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyProfessionJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="racesJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlyRacesJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>
        <button type="button" class="toggle-button" id="sexJSON" title="{{localize "npcGen.defaultHint"}}">{{#if onlySexJSON}}{{localize "npcGen.defaultOff"}}{{else}}{{localize "npcGen.defaultOn"}}{{/if}}</button>

        <button type="button" class="reset-current-json" title="{{localize "npcGen.resetHint"}}">{{localize "npcGen.reset"}}</button>
    </div>

</form>
